name: "Example 9: Empty Channels in file dont crash setup"

on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - "develop"
      - "main"
      - "master"
  schedule:
    # Note that cronjobs run on master/main by default
    - cron: "0 0 * * *"

concurrency:
  group:
    ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  example-9:
    # prevent cronjobs from running on forks
    if:
      (github.event_name == 'schedule' && github.repository ==
      'conda-incubator/setup-miniconda') || (github.event_name != 'schedule')
    name: Ex9 (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.8", "3.11"]
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v5
      - uses: ./
        id: setup-miniconda
        continue-on-error: true
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          environment-file: etc/example-empty-channels-environment.yml
          run-post: false
      - run: |
          conda info
          conda list
          printenv | sort
