name: "Example 2: Other shells"

on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - "master"
  schedule:
    # Note that cronjobs run on master/main by default
    - cron: "0 0 * * *"

jobs:
  example-2-linux:
    # prevent cronjobs from running on forks
    if:
      (github.event_name == 'schedule' && github.repository ==
      'conda-incubator/setup-miniconda') || (github.event_name != 'schedule')
    name: Ex2 Linux
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          miniconda-version: "latest"
          activate-environment: foo
      - name: Bash
        shell: bash -l {0}
        run: |
          conda info
          conda list
          printenv | sort
      - name: PowerShell Core
        shell: pwsh
        run: |
          conda info
          conda list
          gci env:* | sort-object name

  example-2-mac:
    name: Ex2 Mac
    runs-on: "macos-latest"
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          miniconda-version: "latest"
          activate-environment: foo
      - name: Sh
        shell: sh -l {0}
        run: |
          conda info
          conda list
          printenv | sort
      - name: Bash
        shell: bash -l {0}
        run: |
          conda info
          conda list
          printenv | sort
      - name: PowerShell Core
        shell: pwsh
        run: |
          conda info
          conda list
          gci env:* | sort-object name

  example-2-win:
    name: Ex2 Windows
    runs-on: "windows-latest"
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          auto-update-conda: true
          activate-environment: foo
          use-only-tar-bz2: true
      - name: Bash
        shell: bash -l {0}
        run: |
          conda info
          conda list
          printenv | sort
      - name: Sh
        shell: sh -l {0}
        run: |
          conda info
          conda list
          printenv | sort
      - name: PowerShell
        shell: powershell
        run: |
          conda info
          conda list
          dir env: | %{"{0}={1}" -f $_.Name,$_.Value}
      - name: PowerShell Core
        shell: pwsh
        run: |
          conda info
          conda list
          dir env: | %{"{0}={1}" -f $_.Name,$_.Value}
      - name: Cmd.exe
        shell: cmd /C CALL {0}
        run: >-
          conda info && conda list  && SET
